In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
train = pd.DataFrame(np.random.uniform(1,5,size=(20000, 4)), columns=list(['Sem 1','Sem 2','Sem 3','Sem 4']))
train =np.round(train, decimals=2)
train.head()

   Sem 1  Sem 2  Sem 3  Sem 4
0   2.15   4.40   3.56   3.16
1   4.94   4.83   4.74   3.43
2   3.22   3.82   3.63   2.22
3   1.76   3.54   1.70   3.24
4   4.00   4.71   2.72   2.82

In [3]:
train.loc[((train['Sem 1'] > 4.5)|(train['Sem 2'] > 4.5)|(train['Sem 3'] > 4.5)|(train['Sem 4'] > 4.5)), 'target'] = 1
train.fillna(0,inplace = True)
train['target'] = train['target'].astype(int)
train .head()

   Sem 1  Sem 2  Sem 3  Sem 4  target
0   2.15   4.40   3.56   3.16       0
1   4.94   4.83   4.74   3.43       1
2   3.22   3.82   3.63   2.22       0
3   1.76   3.54   1.70   3.24       0
4   4.00   4.71   2.72   2.82       1

In [4]:
# converting columns datatype
train[['Sem 1','Sem 2','Sem 3','Sem 4']] = train[['Sem 1','Sem 2','Sem 3','Sem 4']].astype(float)
train['target'] = train['target'].astype(int)

In [5]:
# dataframe info
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sem 1   20000 non-null  float64
 1   Sem 2   20000 non-null  float64
 2   Sem 3   20000 non-null  float64
 3   Sem 4   20000 non-null  float64
 4   target  20000 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 781.4 KB

In [6]:
# validating target categories 
print("Target - ",train['target'].unique())

Target -  [0 1]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [8]:

# spliting the data to dependent and independent variable
y = train['target'].copy()
X = train.drop('target', axis=1)

# Splitting the dataset into the Training set and Test set. test size is 20 %
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [9]:
# Feature Scaling
# there is no need to apply future scaling on dependent variable
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [12]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [13]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[2363    0]
 [   0 1637]]

1.0

In [17]:
result = pd.DataFrame({'target': y_pred})
result.head()

   target
0       1
1       1
2       0
3       1
4       0