In [1]:
# Libraries
import mysql.connector
import pandas as pd
import numpy as np
import cryptocode
from datetime import datetime

In [2]:
encoded = cryptocode.encrypt("root","get_cloudtesting_enryption_key()")
decoded = cryptocode.decrypt(encoded, "encryption_key")
encoded

'IJp74Q==*8HWo8l3VVwJBd52QEjNKjA==*Ud74uxG9J0gvIJQj4036jg==*8nvSfAKnBQF869MYk36dcg=='

In [3]:
# MYSQL Connection string

config = {
  'user': 'root',
  'password': 'Nls@123',
  'host': '127.0.0.1',
  'database': 'staging2',
  'auth_plugin' : 'mysql_native_password',
  'raise_on_warnings': True
}

In [ ]:
# MYSQL Update
mysql_connection = mysql.connector.connect(**config)
GL_df = pd.read_sql(query, con=mysql_connection)
mysql_connection.close()

In [4]:
# GL vs GL - NOSTRO16478501185683904.380004374953002
# One to one - NOSTRO164759560132575529500004372331001,NOSTRO164759504580810029650004366490003
# One to Many (OR) Many to One - NOSTRO1647589655262101109.620004366494004
# Many to Many - NOSTRO16480282679601478794.720004366490004

In [5]:
# # Query
# query = """
# select his.AC_ENTRY_SR_NO As GL_ID,his.ACCOUNT_NO AS GL_ACCNO,his.VALUE_DT as GL_DATE,his.DRCR_IND as GL_CRDR,
# CASE 
#     WHEN his.AC_CCY = 'KES' then his.LCY_AMOUNT
#     ELSE his.FCY_AMOUNT
#     END as GL_AMOUNT,
# ft.USER_REF_NUMBER as GL_REF,ft.SOURCE_REF_NO GL_SOURCE_REF,
# CASE
#     WHEN ft.PAYMENT_DETAILS IS NOT NULL AND ft.PAYMENT_DETAILS != '' THEN ft.PAYMENT_DETAILS
#     WHEN ct.ADDL_TEXT IS NOT NULL THEN ct.ADDL_TEXT
#     ELSE null
#     END as GL_ADDL_TEXT,
# his.AC_CCY as GL_CURRENCY
# from statement$detail$history his 
# left JOIN funds$transfer ft on ft.id = his.TRN_REF_NO
# LEFT JOIN cstb$addl$text ct on ct.REFERENCE_NO = his.TRN_REF_NO
# where his.AC_ENTRY_SR_NO in
# (
# select PRI_entryId from tbl_recon_nostro$matched$entry where fld_MatchType = 'MANUAL' and 
# fld_UniqueReference ='NOSTRO16480282679601478794.720004366490004'
# )
# """

In [6]:
Acc_No = '0004366494001' 
# '0004374954001'
# '0004366490004'
    
query = """
select his.AC_ENTRY_SR_NO As GL_ID,his.ACCOUNT_NO AS GL_ACCNO,his.VALUE_DT as GL_DATE,his.DRCR_IND as GL_CRDR,
CASE 
    WHEN his.AC_CCY = 'KES' then his.LCY_AMOUNT
    ELSE his.FCY_AMOUNT
    END as GL_AMOUNT,
his.AC_CCY as GL_CURRENCY
    from statement$detail$history his 
INNER JOIN tbl_recon_nostro$unmatched$entry recon on recon.PRI_entryId = his.AC_ENTRY_SR_NO
where his.ACCOUNT_NO = """+Acc_No+"""
"""

In [7]:
# Fetch GL data from DB
mysql_connection = mysql.connector.connect(**config)
GL_df = pd.read_sql(query, con=mysql_connection)
mysql_connection.close()
GL_df['GL_ID'] = GL_df['GL_ID'].astype('int')
GL_df.tail()

         GL_ID       GL_ACCNO     GL_DATE GL_CRDR  GL_AMOUNT GL_CURRENCY
23  1278783703  0004366494001  2022-10-21       C   210102.0         KES
24  1278783779  0004366494001  2022-10-21       C    96995.0         KES
25  1278783863  0004366494001  2022-10-21       C   122540.0         KES
26  1278786249  0004366494001  2022-10-21       D      140.0         KES
27  1278800530  0004366494001  2022-10-19       C    12540.0         KES

In [ ]:
GL_df = GL_df[~GL_df['GL_ID'].isin(GL_list)]
GL_df.reset_index(drop=True, inplace=True)
GL_df.tail()

In [8]:
# # Fetch NOSTRO data from DB
# query = """
# select ID as RE_ID,ACCOUNT_NUMBER as RE_ACCNO,VALUE_DATE as RE_DATE,CRF_TYPE as RE_CRDR,
# SWIFT_AMOUNT as RE_AMOUNT,ACC_OWNER_REF_FOR_DEBIT,ACC_SERVICING_INSTITUTE_REF_FOR_CREDIT from nostro$statement where id in  
# (
# select PRI_entryId from tbl_recon_nostro$matched$entry where 
# fld_MatchType = 'MANUAL' and fld_UniqueReference ='NOSTRO16480282679601478794.720004366490004'
# )
# """

In [9]:
query = """
select ns.ID as RE_ID,ns.ACCOUNT_NUMBER as RE_ACCNO,ns.VALUE_DATE as RE_DATE,ns.CRF_TYPE as RE_CRDR,
ns.SWIFT_AMOUNT as RE_AMOUNT from nostro$statement ns
inner join tbl_recon_nostro$unmatched$entry recon on recon.PRI_entryId = ns.id
where ns.ACCOUNT_NUMBER = """+Acc_No+"""
"""

In [10]:
mysql_connection = mysql.connector.connect(**config)
RE_df = pd.read_sql(query, con=mysql_connection)
mysql_connection.close()
RE_df['RE_ID'] = RE_df['RE_ID'].astype('int')
RE_df.tail()

      RE_ID       RE_ACCNO     RE_DATE RE_CRDR     RE_AMOUNT
18  1540025  0004366494001  2022-10-19   DEBIT -5.664420e+05
19  1540058  0004366494001  2022-10-19   DEBIT -1.349400e+05
20  1540164  0004366494001  2022-10-19  CREDIT  9.581952e+08
21  1540165  0004366494001  2022-10-19  CREDIT  9.581952e+08
22  1540184  0004366494001  2022-10-19  CREDIT  1.876466e+09

In [ ]:
RE_df = RE_df[~RE_df['RE_ID'].isin(RE_list)]
RE_df.reset_index(drop=True, inplace=True)
RE_df.tail()

In [11]:
# Converting time_stamp
GL_df['GL_DATE'] = pd.to_datetime(GL_df['GL_DATE'])
RE_df['RE_DATE'] = pd.to_datetime(RE_df['RE_DATE'])

# Remove negative signs
GL_df['GL_AMOUNT'] = GL_df['GL_AMOUNT'].abs()
# RE_df['RE_AMOUNT'] = RE_df['RE_AMOUNT'].abs()

# Adding negative sign to Debit transactions
GL_df.loc[(GL_df['GL_CRDR'] == 'D'), 'GL_AMOUNT'] =  GL_df['GL_AMOUNT']*-1
# RE_df.loc[(RE_df['RE_CRDR'] == 'D'), 'RE_AMOUNT'] =  RE_df['RE_AMOUNT']*-1
1
# Replace CRDR value
RE_df['RE_CRDR'] = RE_df['RE_CRDR'].replace(['CREDIT', 'DEBIT'], ['C','D'])
RE_df.head()

     RE_ID       RE_ACCNO    RE_DATE RE_CRDR   RE_AMOUNT
0  1539407  0004366494001 2022-10-17       D  -400000.00
1  1539582  0004366494001 2022-10-18       C  2412000.00
2  1539681  0004366494001 2022-10-18       C  1482000.00
3  1539700  0004366494001 2022-10-18       C  3634344.00
4  1539759  0004366494001 2022-10-18       C  1112076.95

In [12]:
# Define variance amount
Variance = 1
# Creating ismatched,match table and match id column
GL_df['ISMATCHED'] = 0
RE_df['ISMATCHED'] = 0
GL_df['MATCH_TABLE'] = np.nan
GL_df['MATCH_ID'] = ''
# 
# Dataframe info
GL_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GL_ID        28 non-null     int64
 1   GL_ACCNO     28 non-null     object
 2   GL_DATE      28 non-null     datetime64[ns]
 3   GL_CRDR      28 non-null     object
 4   GL_AMOUNT    28 non-null     float64
 5   GL_CURRENCY  28 non-null     object
 6   ISMATCHED    28 non-null     int64
 7   MATCH_TABLE  0 non-null      float64
 8   MATCH_ID     28 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 2.1+ KB

In [13]:
def mysql_insertData(query,data):
    
    connection = mysql_connection
    cursor = connection.cursor()
    cursor.execute(query, data)
    connection.commit()
    primary_key = cursor.lastrowid
    cursor.close()
    connection.close()
    
    return primary_key

In [14]:
MYSQL_INSERT_RECON_POSSIBLE_MATCH = ("INSERT INTO tbl_recon_nostro$virtual$possible$match"
                                        "(ACCOUNT_NO,STATEMENT_DETAIL_ID,MATCH_TABLE,MATCH_ID,MATCH_AMOUNT,VARIANCE,CREATED_BY,CREATED_ON)"
                                        "VALUES (%(ACCOUNT_NO)s, %(STATEMENT_DETAIL_ID)s,%(MATCH_TABLE)s,%(MATCH_ID)s, %(MATCH_AMOUNT)s,%(VARIANCE)s,%(CREATED_BY)s,%(CREATED_ON)s)")

In [15]:
# Posiblities

# GL to Nostro and Nostro to GL
#    One to One
#    One to many
#    Many to one
#    many to many

# multiple credit,debit sums alowed in both ends and the variance should below defined variance
# once the match is found I should not consider it again
# date should be match for bulk matching and can allow diffrent dates for one to one match

# With in same GL account
#    One to One

# With in same Nostro account
#    Nil

# Allowed Maximum Variance
#    MAX = 1

In [16]:
# With in GL account match
for i in range(0,len(GL_df)-1):
    if (GL_df['ISMATCHED'][i] == 1):
        continue
    for j in range(i+1,len(GL_df)):
        if((GL_df['ISMATCHED'][j] == 1)):
            continue
        amount = abs(GL_df['GL_AMOUNT'][i] + GL_df['GL_AMOUNT'][j])
        if amount <= Variance:
            GL_df.loc[i,'ISMATCHED'] = 1
            GL_df.loc[j,'ISMATCHED'] = 1
            GL_df.loc[j,'MATCH_TABLE'] = 'statement$detail$history'
            GL_df.loc[j,'MATCH_ID'] = str(GL_df['GL_ID'][i])
            
            param = {
            'ACCOUNT_NO' : Acc_No,
            'STATEMENT_DETAIL_ID' : str([int(GL_df['GL_ID'][i])]),
            'MATCH_TABLE' : 'statement$detail$history',
            'MATCH_ID' : str([int(GL_df['GL_ID'][j])]),
            'MATCH_AMOUNT' : float(abs(GL_df['GL_AMOUNT'][i])),
            'VARIANCE' : round(amount,2),
            "CREATED_BY":'ML_USER',
            "CREATED_ON":datetime.now()
            }
            mysql_connection = mysql.connector.connect(**config)
            mysql_insertData(MYSQL_INSERT_RECON_POSSIBLE_MATCH,param)
            break

In [17]:
# One to one match with GL to Nostro to avoid more combinations
for i in range(0,len(GL_df)):
    if (GL_df['ISMATCHED'][i] == 1):
        continue
    for j in range(0,len(RE_df)):
        if((RE_df['ISMATCHED'][j] == 1)):
            continue
        amount = abs(GL_df['GL_AMOUNT'][i] + RE_df['RE_AMOUNT'][j])
        if amount <= Variance:
            GL_df.loc[i,'ISMATCHED'] = 1
            RE_df.loc[j,'ISMATCHED'] = 1
            GL_df.loc[i,'MATCH_TABLE'] = 'nostro$statement'
            GL_df.loc[i,'MATCH_ID'] = str(RE_df['RE_ID'][j])
            
            param = {
            'ACCOUNT_NO' : Acc_No,
            'STATEMENT_DETAIL_ID' : str([int(GL_df['GL_ID'][i])]),
            'MATCH_TABLE' : 'nostro$statement',
            'MATCH_ID' : str([int(RE_df['RE_ID'][j])]),
            'MATCH_AMOUNT' : float(abs(GL_df['GL_AMOUNT'][i])),
            'VARIANCE' : round(amount,2),
            "CREATED_BY":'ML_USER',
            "CREATED_ON":datetime.now()
            }
            mysql_connection = mysql.connector.connect(**config)
            primary_key = mysql_insertData(MYSQL_INSERT_RECON_POSSIBLE_MATCH,param)
            print(primary_key)
            break

3

In [18]:
# # Merging 2 dataframes
# df = pd.merge(GL_df, RE_df, left_on=['GL_ACCNO','GL_AMOUNT'],right_on=['RE_ACCNO','RE_AMOUNT'])

# # Dropping duplicate values
# df = df.drop_duplicates(["GL_ID","RE_ID"],ignore_index = True)
# df.head(20)

In [19]:
# # Verifing GL credit or debit not equals to NOSTRO credit or debit
# df = df.query("GL_CRDR != RE_CRDR")
# df.head(10)

In [20]:
# # Converting trans reference as list
# GL_ID = df['GL_ID'].unique().tolist()
# RE_ID = df['RE_ID'].unique().tolist()

In [21]:
# # Filtering and removing the existing matches as above (GL)
# GL_df = GL_df[~GL_df['GL_ID'].isin(GL_ID)]
# GL_df.reset_index(drop=True, inplace=True)
# GL_df.tail()

In [22]:
# # Filtering and removing the existing matches as above (NOSTRO)
# RE_df = RE_df[~RE_df['RE_ID'].isin(RE_ID)]
# RE_df.reset_index(drop=True, inplace=True)
# RE_df.tail()

In [23]:
from itertools import combinations

In [24]:
# dict_data = GL_df.set_index('GL_ID')['GL_AMOUNT'].to_dict()

# length = len(dict_data)
# GL_per_com = [i for j in range(length + 1) for i in combinations(dict_data, j) if sum(map(dict_data.get, i))]

# #print(GL_per_com)
# len(GL_per_com)

In [25]:
Max_per_com = 4
GL_df['GL_ID'] = GL_df['GL_ID'].astype('int')
dict_data = GL_df.loc[GL_df['ISMATCHED']==0].set_index('GL_ID')['GL_AMOUNT'].to_dict()
GL_per_com_list = [i for j in range((Max_per_com+1)) for i in combinations(dict_data, j) if sum(map(dict_data.get, i))]

#print(GL_per_com)
GL_per_com_list = GL_per_com_list[:2500]
len(GL_per_com_list)

2500

In [26]:
RE_df['RE_ID'] = RE_df['RE_ID'].astype('int')
dict_data = RE_df.loc[RE_df['ISMATCHED']==0].set_index('RE_ID')['RE_AMOUNT'].to_dict()
RE_per_com_list = [i for j in range((Max_per_com+1)) for i in combinations(dict_data, j) if sum(map(dict_data.get, i))]

#print(RE_per_com)
RE_per_com_list = RE_per_com_list[:2500]
len(RE_per_com_list)

2500

In [27]:
# filter the data where ID in above using nested for loop
# sum of all equals to another sum of all or with in the variance 
# map the respective id

In [28]:
GL_df['G_DATE'] = GL_df['GL_DATE'].dt.strftime('%Y-%m')
RE_df['R_DATE'] = RE_df['RE_DATE'].dt.strftime('%Y-%m')
GL_dict = GL_df.to_json(orient='records')
RE_dict = RE_df.to_json(orient='records')

# Transform json input to python objects
import json
GL_dict = json.loads(GL_dict)
RE_dict = json.loads(RE_dict)

In [29]:
# Model execution time calculation
from datetime import datetime

def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [30]:
start_time = timer(None) # timing starts from this point for "start_time" variable

for i in range(0,len(GL_per_com_list)):
    if (len([k for k in [dt for dt in GL_dict if dt['GL_ID'] in list(GL_per_com_list[i])] if k['ISMATCHED'] == 1]) > 0):
        continue
    if (len(set(k['G_DATE'] for k in [dt for dt in GL_dict if dt['GL_ID'] in list(GL_per_com_list[i])])) > 1):
        continue
    for j in range(0,len(RE_per_com_list)):
        if (len([k for k in [dt for dt in RE_dict if dt['RE_ID'] in list(RE_per_com_list[j])] if k['ISMATCHED'] == 1]) > 0):
            continue
        if (len(set(k['R_DATE'] for k in [dt for dt in RE_dict if dt['RE_ID'] in list(RE_per_com_list[j])])) > 1):
            continue
        if (set(k['G_DATE'] for k in [dt for dt in GL_dict if dt['GL_ID'] in list(GL_per_com_list[i])]) != set(k['R_DATE'] for k in [dt for dt in RE_dict if dt['RE_ID'] in list(RE_per_com_list[j])])):
            continue
        amount = abs(sum(k['GL_AMOUNT'] for k in [dt for dt in GL_dict if dt['GL_ID'] in list(GL_per_com_list[i])]) + sum(k['RE_AMOUNT'] for k in [dt for dt in RE_dict if dt['RE_ID'] in list(RE_per_com_list[j])]))
        if amount <= Variance:
            for k in [dt for dt in GL_dict if dt['GL_ID'] in list(GL_per_com_list[i])]:
                k['ISMATCHED'] = 1
                k['MATCH_TABLE'] = 'nostro$statement'
                k['MATCH_ID'] = str(list(RE_per_com_list[j]))

            for k in [dt for dt in RE_dict if dt['RE_ID'] in list(RE_per_com_list[j])]:
                k['ISMATCHED'] = 1
                
            param = {
            'ACCOUNT_NO' : Acc_No,
            'STATEMENT_DETAIL_ID' : str(list(GL_per_com_list[i])),
            'MATCH_TABLE' : 'nostro$statement',
            'MATCH_ID' : str(list(RE_per_com_list[j])),
            'MATCH_AMOUNT' : float(abs(sum(k['GL_AMOUNT'] for k in [dt for dt in GL_dict if dt['GL_ID'] in list(GL_per_com_list[i])]))),
            'VARIANCE' : round(amount,2),
            "CREATED_BY":'ML_USER',
            "CREATED_ON":datetime.now()
            }
            mysql_connection = mysql.connector.connect(**config)
            mysql_insertData(MYSQL_INSERT_RECON_POSSIBLE_MATCH,param)
            break
            
timer(start_time) # timing ends here for "start_time" variable

 Time taken: 0 hours 3 minutes and 49.85 seconds.

In [31]:
# converting json dataset from dictionary to dataframe
df = pd.json_normalize(GL_dict)
df.head()

,GL_ID,GL_ACCNO,GL_DATE,GL_CRDR,GL_AMOUNT,GL_CURRENCY,ISMATCHED,MATCH_TABLE,MATCH_ID,G_DATE
0,1278251986,0004366494001,1666051200000,D,-1818103.45,KES,0,None,,2022-10
1,1278647537,0004366494001,1666137600000,C,199875.00,KES,0,None,,2022-10
2,1278731456,0004366494001,1666137600000,C,400000.00,KES,1,nostro$statement,1539407,2022-10
3,1278731844,0004366494001,1666137600000,C,49000.00,KES,0,None,,2022-10
4,1278738550,0004366494001,1666310400000,C,500000.00,KES,0,None,,2022-10

In [32]:
df = df[(df['ISMATCHED'] == 1) & (df['MATCH_TABLE'].notnull())].copy()
# df['GL_ID'] = df['GL_ID'].astype('int')
df.head()

,GL_ID,GL_ACCNO,GL_DATE,GL_CRDR,GL_AMOUNT,GL_CURRENCY,ISMATCHED,MATCH_TABLE,MATCH_ID,G_DATE
2,1278731456,0004366494001,1666137600000,C,400000.0,KES,1,nostro$statement,1539407,2022-10
20,1278776251,0004366494001,1666310400000,C,517210.5,KES,1,nostro$statement,"[1540186, 1537086, 1540025]",2022-10

In [33]:
df = df.groupby(['MATCH_ID','MATCH_TABLE'])['GL_ID'].apply(list).reset_index(name='GL_ID')
df = df[['GL_ID', 'MATCH_TABLE', 'MATCH_ID']]

for i in range (0,len(df)):
    if(type(eval(df['MATCH_ID'][i])) != list):
        df.loc[i,'MATCH_ID'] = str([int(df['MATCH_ID'][i])])
df.head()

          GL_ID       MATCH_TABLE                     MATCH_ID
0  [1278731456]  nostro$statement                    [1539407]
1  [1278776251]  nostro$statement  [1540186, 1537086, 1540025]

In [34]:
json_data = df.to_json(orient='records')[1:-1]
json_data

'{"GL_ID":[1278731456],"MATCH_TABLE":"nostro$statement","MATCH_ID":"[1539407]"},{"GL_ID":[1278776251],"MATCH_TABLE":"nostro$statement","MATCH_ID":"[1540186, 1537086, 1540025]"}'

In [ ]:
start_time = timer(None) # timing starts from this point for "start_time" variable

for i in range(0,len(GL_per_com_list)):
    if 1 in (GL_df[GL_df['GL_ID'].isin(list(GL_per_com_list[i]))]['ISMATCHED'].values):
        continue
    if len(GL_df[GL_df['GL_ID'].isin(list(GL_per_com_list[i]))]['GL_DATE'].dt.strftime('%m/%Y').unique()) > 1:
        continue
    for j in range(0,len(RE_per_com_list)):
        if 1 in (RE_df[RE_df['RE_ID'].isin(list(RE_per_com_list[j]))]['ISMATCHED'].values):
            continue
        if len(RE_df[RE_df['RE_ID'].isin(list(RE_per_com_list[j]))]['RE_DATE'].dt.strftime('%m/%Y').unique()) > 1:
            continue 
        if ((GL_df[GL_df['GL_ID'].isin(list(GL_per_com_list[i]))]['GL_DATE'].dt.strftime('%m/%Y').unique()[0]) != (RE_df[RE_df['RE_ID'].isin(list(RE_per_com_list[j]))]['RE_DATE'].dt.strftime('%m/%Y').unique()[0])):
            continue
        amount = abs((GL_df[GL_df['GL_ID'].isin(list(GL_per_com_list[i]))]['GL_AMOUNT'].sum()) + (RE_df[RE_df['RE_ID'].isin(list(RE_per_com_list[j]))]['RE_AMOUNT'].sum()))
        if amount <= Variance:
            GL_df.loc[GL_df['GL_ID'].isin(list(GL_per_com_list[i])),'ISMATCHED'] = 1
            RE_df.loc[RE_df['RE_ID'].isin(list(RE_per_com_list[j])),'ISMATCHED'] = 1
            GL_df.loc[GL_df['GL_ID'].isin(list(GL_per_com_list[i])),'MATCH_TABLE'] = 'nostro$statement'
            GL_df.loc[GL_df['GL_ID'].isin(list(GL_per_com_list[i])),'MATCH_ID'] = str(list(RE_per_com_list[j]))
            break
            
timer(start_time) # timing ends here for "start_time" variable

In [ ]:
df = GL_df[(GL_df['ISMATCHED'] == 1) & (GL_df['MATCH_TABLE'].notnull())]
df

In [ ]:
df = df.groupby(['MATCH_ID','MATCH_TABLE'])['GL_ID'].apply(list).reset_index(name='GL_ID')
df = df[['GL_ID', 'MATCH_TABLE', 'MATCH_ID']]

for i in range (0,len(df)):
    if(type(eval(df['MATCH_ID'][i])) == list):
        continue
    df.loc[i,'MATCH_ID'] = str([int(df['MATCH_ID'][i])])
df

In [ ]:
json_data = df.to_json(orient='records')[1:-1].replace('},{', '} {')
json_data

In [12]:
query = """
select distinct(fld_account_Number) as ACCOUNT_NUMBER from tbl_recon_nostro$unmatched$entry 
where fld_account_Number is not null and fld_account_Number != ''
"""
# Fetch GL data from DB
mysql_connection = mysql.connector.connect(**config)
ACC_df = pd.read_sql(query, con=mysql_connection)
mysql_connection.close()
ACCOUNT_NUMBER = ACC_df['ACCOUNT_NUMBER'].tolist()
ACCOUNT_NUMBER

['0004372330001',
 '0004366490004',
 '0004366494001',
 '0004366490002',
 '0004374954001',
 '0004366494002',
 '0004366494004',
 '0004366493001',
 '0004366494003',
 '0004366492003',
 '0004366490006',
 '0004372331001',
 '0004366490003',
 '0004366490008',
 '0004386975001',
 '0004366499002',
 '0052290639002']

In [13]:
for i in ACCOUNT_NUMBER:
    print(i)

0004372330001
0004366490004
0004366494001
0004366490002
0004374954001
0004366494002
0004366494004
0004366493001
0004366494003
0004366492003
0004366490006
0004372331001
0004366490003
0004366490008
0004386975001
0004366499002
0052290639002

In [11]:
query = """
select STATEMENT_DETAIL_ID as GL_ID,
CASE 
    WHEN MATCH_TABLE = 'statement$detail$history' THEN MATCH_ID
    ELSE 0
    END AS MATCH_ID
from tbl_recon_nostro$virtual$possible$match
where ACCOUNT_NO = """+Acc_No+""" and ISMATCHED = 0 
"""
# Fetch GL data from DB
mysql_connection = mysql.connector.connect(**config)
matched_GL = pd.read_sql(query, con=mysql_connection)
mysql_connection.close()
matched_GL

                      GL_ID MATCH_ID
0              [1278620779]        0
1              [1278684151]        0
2  [1278786183, 1278800736]        0
3              [1278620779]        0
4              [1278684151]        0
5  [1278786183, 1278800736]        0

In [ ]:
GL_list = []
for i in matched_GL['GL_ID']:
    GL_list += eval(i)
for i in matched_GL['MATCH_ID']:
    if eval(i) != 0 :
        GL_list += eval(i)
GL_list

In [ ]:
query = """
select MATCH_ID as RE_ID from tbl_recon_nostro$virtual$possible$match
where ACCOUNT_NO = """+Acc_No+""" and MATCH_TABLE  != 'statement$detail$history' and ISMATCHED = 0
"""
# Fetch GL data from DB
mysql_connection = mysql.connector.connect(**config)
matched_RE = pd.read_sql(query, con=mysql_connection)
mysql_connection.close()
matched_RE

In [ ]:
RE_list = []
for i in matched_RE['RE_ID']:
    RE_list += eval(i)
RE_list