In [1]:
# Libraries
import mysql.connector
import pandas as pd
import json
import numpy as np

In [2]:
# MYSQL Connection string

config = {
  'user': 'root',
  'password': 'Nls@123',
  'host': '127.0.0.1',
  'database': 'nlscore_sidian',
  'auth_plugin' : 'mysql_native_password',
  'raise_on_warnings': True
}

In [3]:
# selecting the transaction code that should be charged
mysql_connection = mysql.connector.connect(**config)
TRANSACTION_CHARGE_CODES = pd.read_sql('select * from transaction$charge$codes where TRANSACTION_CODE = 186 ', con=mysql_connection)
mysql_connection.close()
TRANSACTION_CHARGE_CODES.head()

,ID,TRANSACTION_TYPE,TRANSACTION_NAME,TRANSACTION_CODE,CHARGE_TRANSACTION_CODE,TAX_TRANSACTION_CODE,CHARGE_CODE,TAX
0,1,MOBILE,MOBILE-EFT-91,186,245,465,EFTSTF,20