In [1]:
# pip install cx_Oracle
# pip install pandas

import cx_Oracle
import pandas as pd
from datetime import datetime

In [2]:
def oracle_connection():
    oracle_connection = cx_Oracle.connect(
        user="sabarish",
        password="Nls123",
        dsn=cx_Oracle.makedsn(host='127.0.0.1', port=1521, sid='orcl'))
    
    return oracle_connection

In [3]:
query ="""
select * from ug_aa$account$details ac
inner join ug_aa_arrangement aa on aa.id = ac.id
where aa.arr_status = 'CURRENT'
"""
loans_df = pd.read_sql(query, con=oracle_connection())
# connection.close()
Total_loans = len(loans_df)

E:\anaconda3\envs\jupytor\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
query ="""
select * from ug_aa$account$details ac
inner join ug_aa_arrangement aa on aa.id = ac.id
inner join ugx_account ua on ua.arrangment_id = ac.id
inner join ugx_funds$transfer_history fth on fth.charged_customer = ua.customer_id 
where aa.arr_status = 'CURRENT'
"""
charged_loans_df = pd.read_sql(query, con=oracle_connection())
# connection.close()
Charged_loans = len(charged_loans_df)

E:\anaconda3\envs\jupytor\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
print ("No of Loans Processed -", Total_loans)
print ("No of Loans Charged -", Charged_loans)
print ("No of Loans Not Charged -", Total_loans - Charged_loans)
print ("Loan charged percentage -", str(round(Charged_loans/Total_loans*100,2))+'%')
print ("Loan not charged percentage -", str(round((Total_loans - Charged_loans)/Total_loans*100,2))+'%')

No of Loans Processed - 90
No of Loans Charged - 41
No of Loans Not Charged - 49
Loan charged percentage - 45.56%
Loan not charged percentage - 54.44%

In [6]:
data = {
            "START_DATE": '2021-01-01',
            "END_DATE" : '2022-03-31'
       }

In [7]:
query ="""
select ac.id,ac.contract_date,aa.arr_status,ua.customer_id,fth.charged_customer,t.description from ug_aa$account$details ac
inner join ug_aa_arrangement aa on aa.id = ac.id
inner join ugx_account ua on ua.arrangment_id = ac.id
inner join customer c on c.id = ua.customer_id
inner join target t on t.id = c.target
left join ugx_funds$transfer_history fth on ua.customer_id  = fth.charged_customer
where aa.arr_status = 'CURRENT'
"""
df = pd.read_sql(query, con=oracle_connection())
# connection.close()
print ("count -",len(df))
df.head()

E:\anaconda3\envs\jupytor\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

count - 108

,ID,CONTRACT_DATE,ARR_STATUS,CUSTOMER_ID,CHARGED_CUSTOMER,DESCRIPTION
0,AA220077DZVY,20220107,CURRENT,200212,None,Staff
1,AA2205501WG5,20220224,CURRENT,201342,None,Corporate
2,AA22007VXKFS,20220107,CURRENT,209277,None,Staff
3,AA220349DWPJ,20220203,CURRENT,208597,None,Retail
4,AA2201121MX7,20220111,CURRENT,200086,None,Corporate

In [8]:
df = df.drop_duplicates(["ID","CUSTOMER_ID"],ignore_index = True)
print ("count -",len(df))

count - 90

In [9]:
# datetime conversion
df['CONTRACT_DATE'] = pd.to_datetime(df['CONTRACT_DATE'], format="%Y%m%d")
# filtering datetange
df = df.loc[(df['CONTRACT_DATE'] >= data['START_DATE']) & (df['CONTRACT_DATE'] <= data['END_DATE'])]
print("Length -",len(df))

Length - 90

In [10]:
total_loans = len(df)
charged_loans = len(df.loc[df['CHARGED_CUSTOMER'].notnull()])
not_charged_loans = len(df.loc[(df['CHARGED_CUSTOMER'].isnull()) & (df['DESCRIPTION'] != 'Staff')])
staff_loans = len(df.loc[(df['CHARGED_CUSTOMER'].isnull()) & (df['DESCRIPTION'] == 'Staff')])

In [11]:
print ("No of Loans Processed -", total_loans)
print ("No of Loans Charged -", charged_loans)
print ("No of Loans Not Charged -", not_charged_loans)
print ("No of Staff Loans -", staff_loans)
print ("Loan charged percentage -", str(round(charged_loans/total_loans*100,2))+'%')
print ("Loan not charged percentage -", str(round(not_charged_loans/total_loans*100,2))+'%')
print ("Staff Loan percentage -", str(round(staff_loans/total_loans*100,2))+'%')

No of Loans Processed - 90
No of Loans Charged - 23
No of Loans Not Charged - 53
No of Staff Loans - 14
Loan charged percentage - 25.56%
Loan not charged percentage - 58.89%
Staff Loan percentage - 15.56%

In [12]:
CREATED_BY = 'ML_USER'
CREATED_ON = datetime.now()

split= "^"

total_loan_arr_id = split.join(df['ID'].tolist())
charged_loan_arr_id = split.join(df.loc[df['CHARGED_CUSTOMER'].notnull()].ID.tolist())
not_charged_loan_arr_id = split.join(df.loc[(df['CHARGED_CUSTOMER'].isnull()) & (df['DESCRIPTION'] != 'Staff')].ID.tolist())
staff_loan_arr_id = split.join(df.loc[(df['CHARGED_CUSTOMER'].isnull()) & (df['DESCRIPTION'] == 'Staff')].ID.tolist())

param = {
            'START_DATE' : data['START_DATE'],
            'END_DATE' : data['END_DATE'],
            'TOTAL_LOAN' : total_loan_arr_id,
            'CHARGED_LOAN' : charged_loan_arr_id,
            'NOT_CHARGED_LOAN' : not_charged_loan_arr_id,
            'STAFF_LOAN' : staff_loan_arr_id,
            'CREATED_BY' : CREATED_BY,
            'CREATED_ON' : CREATED_ON
        }

ORACLE_INSERT_LOAN_ARRANGEMENTID_DETAILS = "INSERT INTO loan$arrangement_id$details (START_DATE,END_DATE,TOTAL_LOAN,CHARGED_LOAN,NOT_CHARGED_LOAN,STAFF_LOAN,CREATED_BY,CREATED_ON) VALUES (to_date(:START_DATE,'yyyy-mm-dd'),to_date(:END_DATE,'yyyy-mm-dd'),:TOTAL_LOAN,:CHARGED_LOAN,:NOT_CHARGED_LOAN,:STAFF_LOAN,:CREATED_BY,:CREATED_ON)"

In [13]:
def oracle_insertData(query,data):
    
    connection = oracle_connection()
    cursor = connection.cursor()
    cursor.execute(query, data)
    connection.commit()
    primary_key = cursor.lastrowid
    cursor.close()
    connection.close()
    
    return primary_key

In [14]:
oracle_insertData(ORACLE_INSERT_LOAN_ARRANGEMENTID_DETAILS,param)

'AAASAkAAHAAAHfxAAA'

In [15]:
output = {
            'TOTAL_LOANS' : total_loans,
            'CHARGED_LOANS' : charged_loans,
            'NOT_CHARGED_LOANS' : not_charged_loans,
            'STAFF_LOANS' : staff_loans,
            'CHARGED_LOAN_PERCENTAGE' : str(round(charged_loans/total_loans*100,2))+'%',
            'NOT_CHARGED_LOAN_PERCENTAGE' : str(round(not_charged_loans/total_loans*100,2))+'%',
            'STAFF_LOAN_PERCENTAGE' : str(round(staff_loans/total_loans*100,2))+'%',
            'TOTAL_LOAN_ARRANGEMENT_ID' : total_loan_arr_id,
            'CHARGED_LOAN_ARRANGEMENT_ID' : charged_loan_arr_id,
            'NOT_CHARGED_LOAN_ARRANGEMENT_ID' : not_charged_loan_arr_id,
            'STAFF_LOAN_ARRANGEMENT_ID' : staff_loan_arr_id
        }

In [16]:
FD_CURRENCY = ['USD','UGX',"GBP","EUR"]
FD_USD = [0.1,0.6]
FD_UGX = [1,11]
FD_GBP = [0.1,0.6]
FD_EUR = [0.1,0.6]

In [17]:
data = {
            "CURRENCY" : 'UGX',
            "BAND_LIMIT" : [1,11],
            "START_DATE": '2021-01-01',
            "END_DATE" : '2022-03-31'
       }

In [18]:
query ="select ARRANGEMENT_ID,CURRENCY,INTEREST_RATE,DATE_OF_BOOKED from fixed$deposit$report$data$ug where CURRENCY = '"+str(data['CURRENCY'])+"'"
df = pd.read_sql(query, con=oracle_connection())
# connection.close()
df.head()

E:\anaconda3\envs\jupytor\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  ARRANGEMENT_ID CURRENCY INTEREST_RATE DATE_OF_BOOKED
0   AA2108874H0Y      UGX            12       20210325
1   AA21088D346P      UGX             6       20210329
2   AA210990R9YD      UGX            12       20210408
3   AA21104SWM9Z      UGX            11       20210414
4   AA2110615ZGN      UGX           8.5       20210414

In [19]:
# datetime conversion
df['DATE_OF_BOOKED'] = pd.to_datetime(df['DATE_OF_BOOKED'], format="%Y%m%d")
# filtering datetange
df = df.loc[(df['DATE_OF_BOOKED'] >= data['START_DATE']) & (df['DATE_OF_BOOKED'] <= data['END_DATE'])]
print("Length -",len(df))

Length - 125

In [20]:
# data type conversion
df['INTEREST_RATE'] = df['INTEREST_RATE'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 143
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ARRANGEMENT_ID  125 non-null    object
 1   CURRENCY        125 non-null    object
 2   INTEREST_RATE   125 non-null    float64
 3   DATE_OF_BOOKED  125 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 4.9+ KB

In [21]:
total_fd = len(df)
fd_normal = len(df.loc[(df['INTEREST_RATE'] >= data['BAND_LIMIT'][0]) & (df['INTEREST_RATE'] <= data['BAND_LIMIT'][1])])
fd_review = len(df.loc[(df['INTEREST_RATE'] < data['BAND_LIMIT'][0]) | (df['INTEREST_RATE'] > data['BAND_LIMIT'][1])])

In [22]:
print ("Currency -", data['CURRENCY'])
print ("No of FD Processed -", total_fd)
print ("FD Interest within Normal -", fd_normal)
print ("FD interest for Review -",fd_review)
print ("FD Interest within Normal Percentage-", str(round(fd_normal/total_fd*100,2))+'%')
print ("FD interest for Review Percentage-",str(round(fd_review/total_fd*100,2))+'%')

Currency - UGX
No of FD Processed - 125
FD Interest within Normal - 117
FD interest for Review - 8
FD Interest within Normal Percentage- 93.6%
FD interest for Review Percentage- 6.4%

In [23]:
CREATED_BY = 'ML_USER'
CREATED_ON = datetime.now()

split= "^"

total_fd_arr_id = split.join(df['ARRANGEMENT_ID'].tolist())
fd_normal_arr_id = split.join(df.loc[(df['INTEREST_RATE'] >= data['BAND_LIMIT'][0]) & (df['INTEREST_RATE'] <= data['BAND_LIMIT'][1])].ARRANGEMENT_ID.tolist())
fd_review_arr_id = split.join(df.loc[(df['INTEREST_RATE'] < data['BAND_LIMIT'][0]) | (df['INTEREST_RATE'] > data['BAND_LIMIT'][1])].ARRANGEMENT_ID.tolist())

param = {
            'CURRENCY' : data['CURRENCY'],
            'BAND_LIMIT' : str(data['BAND_LIMIT']),
            'START_DATE' : data['START_DATE'],
            'END_DATE' : data['END_DATE'],
            'TOTAL_FD' : total_fd_arr_id,
            'FD_NORMAL' : fd_normal_arr_id,
            'FD_REVIEW' : fd_review_arr_id,
            'CREATED_BY' : CREATED_BY,
            'CREATED_ON' : CREATED_ON
        }

ORACLE_INSERT_FD_ARRANGEMENTID_DETAILS = "INSERT INTO fd$arrangement_id$details (CURRENCY,BAND_LIMIT,START_DATE,END_DATE,TOTAL_FD,FD_NORMAL,FD_REVIEW,CREATED_BY,CREATED_ON) VALUES (:CURRENCY,:BAND_LIMIT,to_date(:START_DATE,'yyyy-mm-dd'),to_date(:END_DATE,'yyyy-mm-dd'),:TOTAL_FD,:FD_NORMAL,:FD_REVIEW,:CREATED_BY,:CREATED_ON)"

In [24]:
oracle_insertData(ORACLE_INSERT_FD_ARRANGEMENTID_DETAILS,param)

'AAASAvAAHAAAHctAAA'

In [25]:
output = {
            'CURRENCY' : data['CURRENCY'],
            'TOTAL_FD' : total_fd,
            'FD_NORMAL' : fd_normal,
            'FD_REVIEW' : fd_review,
            'FD_NORMAL_PERCENTAGE' : str(round(fd_normal/total_fd*100,2))+'%',
            'FD_REVIEW_PERCENTAGE' : str(round(fd_review/total_fd*100,2))+'%',
            'TOTAL_FD_ARRANGEMENT_ID' : total_fd_arr_id,
            'FD_NORMAL_ARRANGEMENT_ID' : fd_normal_arr_id,
            'FD_REVIEW_ARRANGEMENT_ID' : fd_review_arr_id
        }