In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
# Reading account turnover range
ACC_TURNOVER_RANGE = pd.read_csv('../data/ACC_TURNOVER_RANGE.csv')
ACC_TURNOVER_RANGE

   BAND     MIN       MAX  WEIGHT
0     1    5000     10000     3.0
1     2   10001     15000     3.5
2     3   15001     25000     5.0
3     4   25001     50000     7.0
4     5   50001    100000    10.0
5     6  100001  10000000    12.0

In [3]:
# Reading age range
AGE_RANGE = pd.read_csv('../data/AGE_RANGE.csv')
AGE_RANGE

   BAND  MIN  MAX  WEIGHT
0     1   19   25       3
1     2   26   35       5
2     3   36   45       7
3     4   46   65       9

In [4]:
# Declaration
CRB_CHECK = []
GENDER = []
VAR_CRB_CHECK = {
                0 : 0,
                1 : 1
             }
VAR_GENDER = {
                "MALE" : 0,
                "FEMALE" : 1
             }

In [5]:
# Binning the Range to values
# ACCOUNT_TURNOVER = [1,2,3,4,5,6]
ACCOUNT_TURNOVER = ACC_TURNOVER_RANGE['BAND'].tolist()
#CRB_CHECK = [0,1]
for key, value in VAR_CRB_CHECK.items():
    CRB_CHECK.append(value)
#GENDER = [0,1]
for key, value in VAR_GENDER.items():
    GENDER.append(value)
#AGE =[1,2,3,4]
AGE = AGE_RANGE['BAND'].tolist()
AVG_TURNOVER = np.arange(2500,170000,1).tolist()

In [6]:
# Creation of List with all possible combinations 
ITERATION_LIST = [ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER]

ITER_LIST = list(itertools.product(*ITERATION_LIST))

In [7]:
# Converting list to pandas dataframe
cols = ['ACCOUNT_TURNOVER','CRB_CHECK','GENDER','AGE','AVG_TURNOVER']
df = pd.DataFrame(ITER_LIST, columns=cols)
df.tail()
#16079999

          ACCOUNT_TURNOVER  CRB_CHECK  GENDER  AGE  AVG_TURNOVER
16079995                 6          1       1    4        169995
16079996                 6          1       1    4        169996
16079997                 6          1       1    4        169997
16079998                 6          1       1    4        169998
16079999                 6          1       1    4        169999

In [8]:
import json

data = {}
for i in range(0,len(ACC_TURNOVER_RANGE)):
    data[ACC_TURNOVER_RANGE['BAND'][i]] = ACC_TURNOVER_RANGE['WEIGHT'][i]
data

{1: 3.0, 2: 3.5, 3: 5.0, 4: 7.0, 5: 10.0, 6: 12.0}

In [9]:
# Assigning weight to the values
accturnover_to_replace = {1:3, 2:3.5, 3:5, 4:7, 5:10, 6:12}
crbcheck_to_replace = {0:0, 1:1}
geder_to_replace = {0:1, 1:1.3}
age_to_replace = {1:3, 2:5, 3:7, 4:9 }

In [10]:
# Creating weighted columns
df['ACCOUNT_TURNOVER_WEIGHT'] = df['ACCOUNT_TURNOVER'].map(accturnover_to_replace)
df['CRB_CHECK_WEIGHT'] = df['CRB_CHECK'].map(crbcheck_to_replace)
df['GENDER_WEIGHT'] = df['GENDER'].map(geder_to_replace)
df['AGE_WEIGHT'] = df['AGE'].map(age_to_replace)

df.head()

,ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER,ACCOUNT_TURNOVER_WEIGHT,CRB_CHECK_WEIGHT,GENDER_WEIGHT,AGE_WEIGHT
0,1,0,0,1,2500,3.0,0,1.0,3
1,1,0,0,1,2501,3.0,0,1.0,3
2,1,0,0,1,2502,3.0,0,1.0,3
3,1,0,0,1,2503,3.0,0,1.0,3
4,1,0,0,1,2504,3.0,0,1.0,3

In [11]:
# replace account turnover weight as 0 if the turnover amount less then 5000
df.loc[(df['AVG_TURNOVER'] < 5000), 'ACCOUNT_TURNOVER_WEIGHT'] = 0
df.head()

,ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER,ACCOUNT_TURNOVER_WEIGHT,CRB_CHECK_WEIGHT,GENDER_WEIGHT,AGE_WEIGHT
0,1,0,0,1,2500,0.0,0,1.0,3
1,1,0,0,1,2501,0.0,0,1.0,3
2,1,0,0,1,2502,0.0,0,1.0,3
3,1,0,0,1,2503,0.0,0,1.0,3
4,1,0,0,1,2504,0.0,0,1.0,3

In [12]:
# Customer's total weight as per the values 
df['CUSTOMER_WEIGHT'] = df[['ACCOUNT_TURNOVER_WEIGHT','CRB_CHECK_WEIGHT','GENDER_WEIGHT','AGE_WEIGHT']].sum(axis=1)
df.head()

,ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER,ACCOUNT_TURNOVER_WEIGHT,CRB_CHECK_WEIGHT,GENDER_WEIGHT,AGE_WEIGHT,CUSTOMER_WEIGHT
0,1,0,0,1,2500,0.0,0,1.0,3,4.0
1,1,0,0,1,2501,0.0,0,1.0,3,4.0
2,1,0,0,1,2502,0.0,0,1.0,3,4.0
3,1,0,0,1,2503,0.0,0,1.0,3,4.0
4,1,0,0,1,2504,0.0,0,1.0,3,4.0

In [13]:
# Customers score in percentage
Total_weight = 23.2
df['CUSTOMER_SCORE'] = round(df['CUSTOMER_WEIGHT'] /Total_weight * 100)
df['CUSTOMER_SCORE']=df['CUSTOMER_SCORE'].astype(int)
df.tail()

,ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER,ACCOUNT_TURNOVER_WEIGHT,CRB_CHECK_WEIGHT,GENDER_WEIGHT,AGE_WEIGHT,CUSTOMER_WEIGHT,CUSTOMER_SCORE
16079995,6,1,1,4,169995,12.0,1,1.3,9,23.3,100
16079996,6,1,1,4,169996,12.0,1,1.3,9,23.3,100
16079997,6,1,1,4,169997,12.0,1,1.3,9,23.3,100
16079998,6,1,1,4,169998,12.0,1,1.3,9,23.3,100
16079999,6,1,1,4,169999,12.0,1,1.3,9,23.3,100

In [14]:
# PROPOSED_LOAN_RANGE = pd.read_csv('TI_Credit_Scoring/data/PROPOSED_LOAN_RANGE.csv')
# for i in range (0,len(PROPOSED_LOAN_RANGE)):
#     df.loc[(df['CUSTOMER_SCORE'] >= PROPOSED_LOAN_RANGE['MIN'][i]) & (df['CUSTOMER_SCORE'] <= PROPOSED_LOAN_RANGE['MAX'][i]), 'CUSTOMER_SCORE'] = PROPOSED_LOAN_RANGE['WEIGHT'][i]
# df['CUSTOMER_SCORE']=df['CUSTOMER_SCORE'].astype(int)
# df.head()

In [15]:
df.loc[(df['CUSTOMER_SCORE'] >= 0) & (df['CUSTOMER_SCORE'] <= 49), 'CUSTOMER_SCORE'] = 0
df.loc[(df['CUSTOMER_SCORE'] >= 50) & (df['CUSTOMER_SCORE'] <= 69), 'CUSTOMER_SCORE'] = 30
df.loc[(df['CUSTOMER_SCORE'] >= 70) & (df['CUSTOMER_SCORE'] <= 89), 'CUSTOMER_SCORE'] = 35
df.loc[(df['CUSTOMER_SCORE'] >= 90) & (df['CUSTOMER_SCORE'] <= 100), 'CUSTOMER_SCORE'] = 40
df['CUSTOMER_SCORE']=df['CUSTOMER_SCORE'].astype(int)
df.head()

,ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER,ACCOUNT_TURNOVER_WEIGHT,CRB_CHECK_WEIGHT,GENDER_WEIGHT,AGE_WEIGHT,CUSTOMER_WEIGHT,CUSTOMER_SCORE
0,1,0,0,1,2500,0.0,0,1.0,3,4.0,0
1,1,0,0,1,2501,0.0,0,1.0,3,4.0,0
2,1,0,0,1,2502,0.0,0,1.0,3,4.0,0
3,1,0,0,1,2503,0.0,0,1.0,3,4.0,0
4,1,0,0,1,2504,0.0,0,1.0,3,4.0,0

In [16]:
# # Replacing customer scores with proposed loan percentage 
# df['PROPOSED_LOAN_PERCENTAGE'] = df['CUSTOMER_SCORE'].replace([np.arange(0,50,1).tolist(),
#                            np.arange(50,70,1).tolist(),
#                            np.arange(70,90,1).tolist(),
#                            np.arange(90,101,1).tolist()], [0,30,35,40])
# df.head()

In [17]:
# Calculating loan approved amount
df['LOAN_AMOUNT'] = round(df['AVG_TURNOVER']/100 * df['CUSTOMER_SCORE'])
df['LOAN_AMOUNT']=df['LOAN_AMOUNT'].astype(int)
df.tail()

,ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER,ACCOUNT_TURNOVER_WEIGHT,CRB_CHECK_WEIGHT,GENDER_WEIGHT,AGE_WEIGHT,CUSTOMER_WEIGHT,CUSTOMER_SCORE,LOAN_AMOUNT
16079995,6,1,1,4,169995,12.0,1,1.3,9,23.3,40,67998
16079996,6,1,1,4,169996,12.0,1,1.3,9,23.3,40,67998
16079997,6,1,1,4,169997,12.0,1,1.3,9,23.3,40,67999
16079998,6,1,1,4,169998,12.0,1,1.3,9,23.3,40,67999
16079999,6,1,1,4,169999,12.0,1,1.3,9,23.3,40,68000

In [18]:
# count values which has the approved loan amount greater then 52500
dfa = df[(df['LOAN_AMOUNT'] > 52000)]
print ("Count - ",len(dfa))

Count -  834232

In [19]:
# removing the values which has the approved loan amount greater then 52500 
df.drop(df.loc[(df['LOAN_AMOUNT'] > 52500)].index, inplace=True)

# to reset index 
df.reset_index(drop=True, inplace=True)

In [20]:
# revalidating the count
dfa = df[(df['LOAN_AMOUNT'] > 52500)]
print ("Count - ",len(dfa))

Count -  0

In [21]:
# validating the Loan approved amount ranges count
# Minimum Loan - 1000
# Maximum Loan - 50000
print ("Total Count - ",len(df))

dfa = df[(df['LOAN_AMOUNT'] == 0)]
print ("Count values loan amount is zero - ",len(dfa))

dfa = df[(df['LOAN_AMOUNT'] < 1000) & (df['LOAN_AMOUNT'] != 0)]
print ("Count values loan amount between 1 to 999 - ",len(dfa))

dfa = df[(df['LOAN_AMOUNT'] >= 1000) & (df['LOAN_AMOUNT'] <= 50000)]
print ("Count values loan amount between 1000 to 50000 - ",len(dfa))

dfa = df[(df['LOAN_AMOUNT'] > 50000)]
print ("Count values loan amount greater then 50000 - ",len(dfa))

Total Count -  15290064
Count values loan amount is zero -  4530000
Count values loan amount between 1 to 999 -  0
Count values loan amount between 1000 to 50000 -  10412054
Count values loan amount greater then 50000 -  348010

In [22]:
# Replacing Loan amount is  < 1000 then 0 and > 50000 then 50000 because
# Minimum Loan - 1000
# Maximum Loan - 50000

df.loc[df['LOAN_AMOUNT'] < 1000,'LOAN_AMOUNT'] = 0
df.loc[df['LOAN_AMOUNT'] > 50000,'LOAN_AMOUNT'] = 50000

In [23]:
# Revalidating the loan amount exceeds the minimum and maximum range
print ("Total Count - ",len(df))

dfa = df[(df['LOAN_AMOUNT'] == 0)]
print ("Count values loan amount is zero - ",len(dfa))

dfa = df[(df['LOAN_AMOUNT'] < 1000) & (df['LOAN_AMOUNT'] != 0)]
print ("Count values loan amount between 1 to 999 - ",len(dfa))

dfa = df[(df['LOAN_AMOUNT'] >= 1000) & (df['LOAN_AMOUNT'] <= 50000)]
print ("Count values loan amount between 1000 to 50000 - ",len(dfa))

dfa = df[(df['LOAN_AMOUNT'] > 50000)]
print ("Count values loan amount greater then 50000 - ",len(dfa))

Total Count -  15290064
Count values loan amount is zero -  4530000
Count values loan amount between 1 to 999 -  0
Count values loan amount between 1000 to 50000 -  10760064
Count values loan amount greater then 50000 -  0

In [24]:
# Validating the null entries
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15290064 entries, 0 to 15290063
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   ACCOUNT_TURNOVER         int64
 1   CRB_CHECK                int64
 2   GENDER                   int64
 3   AGE                      int64
 4   AVG_TURNOVER             int64
 5   ACCOUNT_TURNOVER_WEIGHT  float64
 6   CRB_CHECK_WEIGHT         int64
 7   GENDER_WEIGHT            float64
 8   AGE_WEIGHT               int64
 9   CUSTOMER_WEIGHT          float64
 10  CUSTOMER_SCORE           int64
 11  LOAN_AMOUNT              int64
dtypes: float64(3), int64(9)
memory usage: 1.4 GB

In [25]:
# Selecting the exact features required for modelling
df = df[['ACCOUNT_TURNOVER','CRB_CHECK','GENDER','AGE','AVG_TURNOVER','CUSTOMER_WEIGHT','LOAN_AMOUNT']]
df.head()

,ACCOUNT_TURNOVER,CRB_CHECK,GENDER,AGE,AVG_TURNOVER,CUSTOMER_WEIGHT,LOAN_AMOUNT
0,1,0,0,1,2500,4.0,0
1,1,0,0,1,2501,4.0,0
2,1,0,0,1,2502,4.0,0
3,1,0,0,1,2503,4.0,0
4,1,0,0,1,2504,4.0,0

In [26]:
# spliting the data to dependent and independent variable
y = df[['CUSTOMER_WEIGHT','LOAN_AMOUNT']].copy()
X = df.drop(['CUSTOMER_WEIGHT','LOAN_AMOUNT'], axis=1)

In [27]:
# Splitting the dataset into the Training set and Test set. test size is 20 %
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 4)

In [28]:
# Feature Scaling
# there is no need to apply future scaling on dependent variable
sc = StandardScaler()
scalar = sc.fit(X_train)

# to save the scalar
joblib.dump(scalar,'Models/scalar_creditscore_classifier.pkl')

X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)
# here converting the whole dataframe using scalar since we train the model all possible conditions
X = scalar.transform(X)

In [29]:
# convert y dataframe to array because we train the model all possible conditions
y = np.array(y)

In [30]:
# model optimal parameters
param = {
            "n_estimators" : 1,
            "max_depth" : 20,
            "min_samples_split" : 2,
            "min_samples_leaf" : 1,
            "bootstrap" : False,
            "random_state" : 4,
            "warm_start" : True
        }

In [31]:
# Model initialization and model training

model = RandomForestRegressor(**param)
model = MultiOutputRegressor(model,n_jobs= -1)
model.fit(X, y)

MultiOutputRegressor(estimator=RandomForestRegressor(bootstrap=False,
                                                     max_depth=20,
                                                     n_estimators=1,
                                                     random_state=4,
                                                     warm_start=True),
                     n_jobs=-1)

In [32]:
# Make predictions using the testing set
y_pred = model.predict(X_test)

In [33]:
# calculating score values
print("r2 score: %.10f" % r2_score(y_test, y_pred))
print("explained variance score: %.10f" % explained_variance_score(y_test, y_pred))
print("mae: %.10f" % mean_absolute_error(y_test, y_pred))
print("mse: %.10f" % mean_squared_error(y_test, y_pred))
print("rmse: %.10f" % mean_squared_error(y_test, y_pred,squared = False))

r2 score: 0.9999999985
explained variance score: 0.9999999985
mae: 0.2109882770
mse: 0.4520612729
rmse: 0.4754267940

In [34]:
round(r2_score(y_test, y_pred),8)

1.0

In [35]:
# Model execution time calculation
from datetime import datetime

def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [36]:
# saving the model using pickle
with open('Models/rf_creditscore_classifier.pkl', 'wb') as f:
    pickle.dump(model, f)

In [37]:
#load the saved model and making predictions 
start_time = timer(None) # timing starts from this point for "start_time" variable
with open('Models/rf_creditscore_classifier.pkl', 'rb') as f:
    rf_model = pickle.load(f)
timer(start_time) # timing ends here for "start_time" variable

 Time taken: 0 hours 0 minutes and 0.08 seconds.

In [23]:
import gzip
# saving the model using pickle
with gzip.open('Models/rf_creditscore_classifier.gz', 'wb') as f:
    pickle.dump(rf_model, f)

In [28]:
#load the saved model and making predictions 
start_time = timer(None) # timing starts from this point for "start_time" variable
with gzip.open('Models/rf_creditscore_classifier.gz', 'rb') as f:
    rf_model = pickle.load(f)
timer(start_time) # timing ends here for "start_time" variable

 Time taken: 0 hours 0 minutes and 0.32 seconds.

In [8]:
import joblib
model = joblib.load('TI_Credit_Scoring/Models/rf_creditscoring_regressor202111292016.gz')

In [105]:
data = {
            "ACCOUNT_TURNOVER":100000,
            "CRB_CHECK":0,
            "GENDER": "MALE",
            "AGE" : 20
        }

VAR_GENDER = {
                "MALE" : 0,
                "FEMALE" : 1
             }

In [106]:
data['GENDER'] = VAR_GENDER[data['GENDER']]
data

{'ACCOUNT_TURNOVER': 100000, 'CRB_CHECK': 0, 'GENDER': 0, 'AGE': 20}

In [107]:
data = {'ACCOUNT_TURNOVER':[data['ACCOUNT_TURNOVER']],'CRB_CHECK':[data['CRB_CHECK']],'GENDER':[data['GENDER']],
     'AGE':[data['AGE']],'AVG_TURNOVER':[data['ACCOUNT_TURNOVER']]}
data

{'ACCOUNT_TURNOVER': [100000],
 'CRB_CHECK': [0],
 'GENDER': [0],
 'AGE': [20],
 'AVG_TURNOVER': [100000]}

In [108]:
VAR_GENDER = {
                "M" : 0,
                "F" : 1
             }

VAR_GENDER['M']

0

In [109]:
op_df = pd.DataFrame(data=data)
op_df.head()

   ACCOUNT_TURNOVER  CRB_CHECK  GENDER  AGE  AVG_TURNOVER
0            100000          0       0   20        100000

In [110]:
op_df.loc[(op_df['ACCOUNT_TURNOVER'] >= 0) & (op_df['ACCOUNT_TURNOVER'] <= 5000), 'ACCOUNT_TURNOVER'] = 0
op_df.loc[(op_df['ACCOUNT_TURNOVER'] >= 5000) & (op_df['ACCOUNT_TURNOVER'] <= 10000), 'ACCOUNT_TURNOVER'] = 1
op_df.loc[(op_df['ACCOUNT_TURNOVER'] >= 10001) & (op_df['ACCOUNT_TURNOVER'] <= 15000), 'ACCOUNT_TURNOVER'] = 2
op_df.loc[(op_df['ACCOUNT_TURNOVER'] >= 15001) & (op_df['ACCOUNT_TURNOVER'] <= 25000), 'ACCOUNT_TURNOVER'] = 3
op_df.loc[(op_df['ACCOUNT_TURNOVER'] >= 25001) & (op_df['ACCOUNT_TURNOVER'] <= 50000), 'ACCOUNT_TURNOVER'] = 4
op_df.loc[(op_df['ACCOUNT_TURNOVER'] >= 50001) & (op_df['ACCOUNT_TURNOVER'] <= 100000), 'ACCOUNT_TURNOVER'] = 5
op_df.loc[(op_df['ACCOUNT_TURNOVER'] >= 100001) & (op_df['ACCOUNT_TURNOVER'] <= 10000000), 'ACCOUNT_TURNOVER'] = 6

op_df.loc[(op_df['AGE'] >= 19) & (op_df['AGE'] <= 25), 'AGE'] = 1
op_df.loc[(op_df['AGE'] >= 26) & (op_df['AGE'] <= 35), 'AGE'] = 2
op_df.loc[(op_df['AGE'] >= 36) & (op_df['AGE'] <= 45), 'AGE'] = 3
op_df.loc[(op_df['AGE'] >= 46) & (op_df['AGE'] <= 65), 'AGE'] = 4

op_df

   ACCOUNT_TURNOVER  CRB_CHECK  GENDER  AGE  AVG_TURNOVER
0                 5          0       0    1        100000

In [111]:
scalar = joblib.load('TI_Credit_Scoring/Models/rf_creditscoring_scalar202111292016.gz')

modelIP = scalar.transform(op_df)
pred = model.predict(modelIP)
print(round(pred[0][0],2),pred[0][1])

14.0 29999.5

In [104]:
import pandas as pd
val = 700
df = pd.read_csv('TI_Credit_Scoring/data/CRB_SCORE_RANGE.csv')
df

   BAND  MIN     MAX  WEIGHT
0     0    0     599       0
1     1  600  100000       1

In [105]:
df1 = df[(df['MIN'] <= val) &  (df['MAX'] >= val)]
df1.head()

   BAND  MIN     MAX  WEIGHT
1     1  600  100000       1

In [65]:
creditscore = 22
creditpercent = round(creditscore/23.3*100,2)
print(creditpercent)
df = pd.read_csv('TI_Credit_Scoring/data/PROPOSED_LOAN_RANGE.csv')
df = df[(df['MIN'] <= creditpercent) &  (df['MAX'] >= creditpercent)]
df = df.reset_index(drop=True)
df['WEIGHT'][0]

94.42

40

In [16]:
import pandas as pd
age = 18
STATUS = True
df = pd.read_csv('TI_Credit_Scoring/data/AGE_RANGE.csv')
if(df['MIN'][0] > age):
    STATUS = "FAILURE"
STATUS

'FAILURE'

In [36]:
a = '254712159239'
b = 'M0'
a = a[3:]
a = b + a
a

'M0712159239'